.label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

body {
  background-color: rgb(174, 235, 235);
}
.con {
  padding: 10%;
}
.count-input {
  border: solid;
  background-color: #f7f7f7;
  padding: 2%;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1rem;
  color: #2b2b2b;
  padding-bottom: 5%;
}

.submit-button {
  background-color: #3b3b3b;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #2b2b2b;
}
